/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between; /* left - center - right */
    align-items: center;
    padding: 15px 60px;
    background: transparent;
}

/* Logo */
.logo h2 {
    /* font-weight: bold; */
    font-size: 22px;
    font-weight: 700;
    color: #f97316;
}

.logo span {
    color: #2563eb;
}

/* Menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #000;
    transform: translateY(-1px);
}

/* Right Section */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Search */
.search-box {

    display: flex;
    align-items: center;
    background: transparent;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1.5px solid rgba(0,0,0,0.15);
}

.search-box input {
    border: none;
    outline: none;
    margin-left: 8px;
    background: transparent;
    width: 140px;
}

.search-box i {
    color: #555;
}

/* Cart */
.cart {
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    padding: 7px 12px;
    border-radius: 12px;
    border: 1.5px solid rgba(0,0,0,0.15);
    cursor: pointer;
}

.cart i {
    color: #2563eb;
}

.cart span {
    color: #555;
    font-weight: 500;
}

.cart:hover {
    background: #f1f5ff;
}

/* Profile Image */
.profile {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
}